
xmp.prettyprint { display: block; background-color: #15313C }
xmp .nocode { background-color: none; color: #000 }
xmp .str { color: #ffa0a0 } /* string  - pink */
xmp .kwd { color: #f0e68c }
xmp .com { color: #87ceeb } /* comment - skyblue */
xmp .typ { color: #98fb98 } /* type    - lightgreen */
xmp .lit { color: #cd5c5c } /* literal - darkred */
xmp .pun { color: #fff }    /* punctuation */
xmp .pln { color: #fff }    /* plaintext */
xmp .tag { color: #f0e68c } /* html/xml tag    - lightyellow */
xmp .atn { color: #bdb76b } /* attribute name  - khaki */
xmp .atv { color: #ffa0a0 } /* attribute value - pink */
xmp .dec { color: #98fb98 } /* decimal         - lightgreen */
xmp ol.linenums li{background: none;}

/* Specify class=linenums on a xmp to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; position: relative; } /* IE indents via margin-left */
ol.linenums:before {
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  background-color: rgba(39, 90, 109, 0.3);
  width: 45px;
  left: -01rem;
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

/*@media print {
  pre.prettyprint { background-color: none }
  xmp .str { color: #060 }
  xmp .kwd { color: #006; font-weight: bold }
  xmp .com { color: #600; font-style: italic }
  xmp .typ { color: #404; font-weight: bold }
  xmp .lit { color: #044 }
  xmp .pun { color: #440 }
  xmp .pln { color: #000 }
  xmp .tag { color: #006; font-weight: bold }
  xmp .atn { color: #404 }
  xmp .atv { color: #060 }
}*/