* {
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	/*background: #43828C;*/
	background: #F34848;
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #FFBE00
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	color: #FFF;
	font-size: 5rem;
	margin-top: 0;
	font-weight: 700;
	margin-bottom: 0;
}

h2 {
	color: #F9AF25;
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	color: #F9AF25;
	margin-bottom: 0;
}

p {
	font-size: 1.5rem;
	max-width: 65%; 
}

p:first-letter {
	text-transform: capitalize;
}

header {
    background: #7EBCD0 url(HTMLCSS_bg.png) no-repeat center;
    background-position: center top;
    height: 100vh;
    padding: 5em 0;
    position: absolute;
    z-index: 20;
    top:0;
    width: 100%;
    left: 0;
    opacity:1;
    transition: top 500ms ease-out,
				opacity 200ms 300ms linear;
}

header.started {
	top: -100vh;
	opacity: 0;
}

#learn {
	position: absolute;
	left: 45%;
	top: 60vh;
	width: 10%;
	display: inline-block;
	background: #5EA4AF;
	color: #FFF;
	padding: 1rem;
	text-align: center;
	font-weight: 400;
	border: solid #FFF7E8;
	cursor: pointer;
}

#learn:hover {
        /*background: repeating-linear-gradient(135deg, #F9AF25, #F9AF25 .25em, #F34848 0, #F34848 .75em );*/
        background: repeating-linear-gradient(135deg, #5B9FA9, #5EA4AF .5em, #F34848 0, #F34848 1em );
        text-shadow: 1px 1px 1px #F34848, -1px 1px 1px #F34848, -1px -1px 1px #F34848, 1px -1px 1px #F34848;
        border-color: #F34848
}

header h1 {
	font-family: 'Poiret One';
    line-height: 30vh;
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 5rem;
    color: #fff;
}


.html {
	background: #F9AF25;
	padding: 15px;
	border: solid;
	border-radius: 0;
}

.css {
	background: #F34848;
	padding: 20px;
	border: solid;
	border-radius: 50%;
}

.conrad {
    font-size: 2.2rem;
    font-family: 'Open Sans';
}

main {
	padding: 1rem;
	width: 80%;
	display: block;
	float: right;
	max-height: 100vh;
	overflow-y: auto; 
	margin-left:-100vw;
	position: relative;
}

section {
	display: none;
    padding: 0 2rem 5rem;
}

section.showMe {
	display: block;
}

aside {
	float: left;
	width: 20%;
    /*background-color: #275A6D;*/
    background-color: #15313C;
    height: 100vh;
    overflow: visible; 
    margin-left:-100vw;
}

aside h3 {
	padding-left: 1rem;
	font-size: 2rem;
	font-weight: 700;
	color: #F34848;
	margin-bottom: 1rem;
}

aside h4 {
        padding-left: 1rem;
        margin-top: 0;
        color: #F9AF25;
        margin-bottom: 0.7rem;
}

aside.started, 
main.started {
	margin-left: initial;
}

aside li {
	padding: 5px 0 5px 15px;
}

aside li:hover {
	background: #1A3D4A;
	border-radius: 20px 0 0 20px;
}

aside a {
	color: #F34848;
	display: block;
}

aside .selected, aside .selected:hover {
	background: #F9AF25;
	padding-left: 9px;
	position: relative;
	border-radius: 20px 0 0 20px;
}

aside .selected a {
        color: #15313C;
        font-weight: 400;
}

aside .selected:after { 
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: solid 19px rgba(0, 0, 0, 0);
	border-left: solid 15px #F9AF25;
	right: -34px;
	top:0;
}

div[class^="Bmodel"] {
	padding: 2rem 2.5rem 2.5rem;
	text-align: center;
	border: solid 2px;
	background-color: rgba(249, 175, 37, 0.2)
}

div[class^="Bmodel"] > span { 
	margin-top: -1.5rem;
	display: block;
	margin-bottom: 0.5rem;
}

xmp {
	color: #D68404;
	background-color: #3E3D3D;
	margin: 2rem 0;
	font-family: 'PT Mono';
    font-size: 0.8em;
    padding-left: 1rem;
    overflow: hidden;
    word-wrap: break-word;
}

figure {
	background-color: #15313C;
	color: #F9AF25;
	margin: 1rem 0;
	border: solid 2px;
	outline: dashed 2px;
}

blockquote {
	font-size: 2em;
	font-style: oblique;
	padding: 1rem;
	margin: 0;
}

blockquote:before {
	content: '\201C';
} 

blockquote:after {
	content: '\201D';
}

figcaption {
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-style: oblique;
}
.example {
	background: #fff;
}

.notes {
	display: none;
	width: 100%;
	background: #fff;
	color: #000;
	padding: 10px;
}

.present .notes {
	display: block;
}

.presenting {
	background: transparent;
	position: absolute;
	top: 0;
	right:0;
	width: 5px;
	height: 5px;
	transition:  width 200ms ease-out,
				 height 200ms ease-out;
}

.html-syntax, 
.css-syntax {
    font-family: 'PT Mono', monospace;
    font-size: 2rem;
    padding: 1rem;
    background: #15313C;
    color: #fff;
}

.html-syntax span, 
.css-syntax span {
    color: #f0e68c; 
}

.presenting:hover {
	background: #fff;
	width: 10px;
	height: 10px;
}
section ul li {
	margin-bottom: 1rem;
}

/*button.next {
	display: block;
	position: fixed;
	bottom: 1rem;
	right: 6rem;
	background: #F9AF25;
	width: 60px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #15313C;
	padding-left: 15px;
}

button.next:after {
	content: '';
	display: block;
	border-top: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px transparent;
	border-left: solid 20px #F9AF25;
	position: absolute;
	top: 0;
	right: -40px
}*/